{% extends "base.html.twig" %}

{% block head %}
    {#<link rel="stylesheet" href="/bundles/ivoryckeditor/plugins/codesnippet/lib/highlight/styles/atelier-dune.dark.css">#}
    <link rel="stylesheet" href="/bundles/ivoryckeditor/plugins/codesnippet/lib/highlight/styles/ir_black.css">
    <script src="/bundles/ivoryckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock head %}

{% block title %}SharEDITor - 关注大数据技术{% endblock title %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-10">
                <div class="row text-center">
                    <span style="font-size: 100px;">404 Not Found</span>
                </div>
                <div class="row text-center">
                    <span style="font-size: 40px;">你还可以<a href="{{ path('homepage') }}">回到首页</a></span>
                </div>
                <div class="row text-center">
                    <span style="font-size: 40px;">或者看看下面的推荐链接</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
    </div>

{% endblock body %}
